<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Proyectos - Tec Domotics S.A.C.</title>
    <link rel="icon" type="image/png" href="/img/favicon/icono.png">

    <!--Styles-->
    <link rel="stylesheet" href="/css/proyectos.css">

    <!--Bootstrap Icons-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">

    <script src="https://kit.fontawesome.com/ab3a36c9e3.js" crossorigin="anonymous"></script>
</head>

<body>

    <!--Menu-->

    <header>
        <a href="/index.html" class="brand">
            <img src="/img/logo.png" alt="Tec Domotics">
        </a>
        <!-- Barra de navegación -->
        <nav class="navigation">
            <div class="menu">
                <div class="btn">
                    <i class="fas fa-times close-btn"></i>
                </div>
                <ul>
                    <li><a href="/index.html">Inicio</a></li>
                    <li><a href="/views/Nosotros/nosotros.html">Nosotros</a></li>
                    <li><a href="/views/Servicios/servicios.html">Servicios</a></li>
                    <li><a href="/views/Proyectos/proyectos.html">Proyectos</a></li>
                    
                    <li><a href="/views/Contactanos/contactanos.html">Contáctanos</a></li>
                </ul>
            </div>
        </nav>
        <div class="btn">
            <i class="fas fa-bars menu-btn"></i>
        </div>
    </header>

    <!--Contenido Principal-->

    <!--Titulo-->
    <section class="titulo">

        <h1>Proyectos</h1>

    </section>
    <!--Servivcios-->
    <section class="main">
        <div class="gallery">
            <div class="box" id="domotica">
                <a href="/views/Proyectos/proyectos-img.html#domotica">
                    <img src="/img/Proyectos/domotica/575E5078-02BB-4C44-98F5-DBEB5DB73FA1.png" alt="">
                    <h2>Domótica e Integración</h2>
                </a>
            </div>
            <div class="box" id="domotica">
                <a href="/views/Proyectos/proyectos-img.html#home-network">
                    <img src="/img/Proyectos/Home Network/47ECAF5B-7899-4CC6-BEE4-CA096D04480E.png" alt="">
                    <h2>Home Network</h2>
                </a>
            </div>
            <div class="box" id="">
                <a href="/views/Proyectos/proyectos-img.html#cine-casa">
                    <img src="/img/Proyectos/Home Teather/5BEDF3FD-3D79-4A99-8CA6-EDCC56CC3427.png" alt="">
                    <h2>Cine en casa</h2>
                </a>
            </div>
            <div class="box" id="">
                <a href="/views/Proyectos/proyectos-img.html#sis-empresa">
                    <img src="/img/Proyectos/sistemas para empresas/6E19F913-4063-4E51-A35A-C42829D2C98C.png" alt="">
                    <h2>Sistemas empresariales</h2>
                </a>
            </div>
            <div class="box" id="sistema-pro">
                <a href="/views/Proyectos/proyectos-img.html#sistema-pro">
                    <img src="/img/Proyectos/sistemas de audio pro/CB7E57BF-3933-4F50-9B9D-6118311E80D0.png" alt="">
                    <h2>Sistemas de audio profesional</h2>
                </a>
            </div>
            <div class="box" id="iluminacion">
                <a href="/views/Proyectos/proyectos-img.html#iluminacion">
                    <img src="/img/Proyectos/iluminacion/71B0F758-4D95-475B-A956-B995B3267B93.png" alt="">
                    <h2>Iluminación y Proyectos</h2>
                </a>
            </div>
        </div>
        
    
    </section>   
    <!--Formulario de contacto-->

    <!--Formulario de contacto-->

    <section class="section-two">
        <div class="contactForm">
            <div class="form">
                <div class="texto">
                    <h2>Contáctanos</h2>
                    <p>En Tec Domotics nos esforzamos por mantener una constante comunicación con nuestros clientes. Por
                        ello, no dudes en comunicarte con nosotros para darte el apoyo y asesoría necesaria en todos tus
                        proyectos.
                    </p>
                </div>
                <form action="" id="form">
                    <div class="inputBox">
                        <label for="">Ingrese su nombre</label>
                        <input type="text" placeholder="Nombre" id="name" >
                        <p class="is-invalid"></p>
                    </div>
                    <div class="inputBox">
                        <label for="">Ingrese su Teléfono</label>
                        <input type="tel" placeholder="999-999-999" id="tel" >
                        <p class="is-invalid"></p>
                    </div>
                    <div class="inputBox">
                        <label for="">Ingrese su correo</label>
                        <input type="email" placeholder="usuario@example.com" id="email" >
                        <p class="is-invalid"></p>
                    </div>
                    <div class="inputBox">
                        <label for="">Su mensaje</label>
                        <textarea name="" id="message" cols="30" rows="5" placeholder="Tu mensaje..." ></textarea>
                        <p class="is-invalid"></p>
                    </div>
                    <div class="form-termsAndCond">
                        <input type="checkbox" id="termsAndCond" >
                        <label for="termsAndCond">He aceptado los</label>
                        <a href="/views/Contactanos/terminosycondiciones.html"><b>Términos y Condiciones.</b></a>
                        <p class="is-invalid"></p>
                    </div>
                    <input type="submit" id="" value="Enviar Mensaje">
                    <p class="successMessage"></p>
                </form>
            </div>
            <div class="info">
               <h1 class="llamanos">LLAMANOS</h1>
               <h2 class="numero">(+51)99756577</h2>
               <h2>HORARIO DE 9AM A 6PM</h2>
               

               <div class="social-media">
                 <a href=""> <i class="bi bi-instagram"></i></a>
                 <a href=""><i class="bi bi-facebook"></i></a>
                 <a href=""><i class="bi bi-linkedin"></i></a>
                 <a href=""><i class="bi bi-twitter"></i></a>
               </div>
            </div>

        </div>
    </section>

    <!--Footer-->
    <footer class="footer">
        <div class="grupo-1">
            <div class="box">
                <h5>Contáctanos</h5>
                <div class="contacto">
                    <ul>
                        <div id="icono">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                class="bi bi-telephone" viewBox="0 0 16 16">
                                <path
                                    d="M3.654 1.328a.678.678 0 0 0-1.015-.063L1.605 2.3c-.483.484-.661 1.169-.45 1.77a17.568 17.568 0 0 0 4.168 6.608 17.569 17.569 0 0 0 6.608 4.168c.601.211 1.286.033 1.77-.45l1.034-1.034a.678.678 0 0 0-.063-1.015l-2.307-1.794a.678.678 0 0 0-.58-.122l-2.19.547a1.745 1.745 0 0 1-1.657-.459L5.482 8.062a1.745 1.745 0 0 1-.46-1.657l.548-2.19a.678.678 0 0 0-.122-.58L3.654 1.328zM1.884.511a1.745 1.745 0 0 1 2.612.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511z" />
                            </svg>
                            <li>+51 999 999 999</li>
                        </div>

                        <div id="icono">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                class="bi bi-geo-alt" viewBox="0 0 16 16">
                                <path
                                    d="M12.166 8.94c-.524 1.062-1.234 2.12-1.96 3.07A31.493 31.493 0 0 1 8 14.58a31.481 31.481 0 0 1-2.206-2.57c-.726-.95-1.436-2.008-1.96-3.07C3.304 7.867 3 6.862 3 6a5 5 0 0 1 10 0c0 .862-.305 1.867-.834 2.94zM8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10z" />
                                <path d="M8 8a2 2 0 1 1 0-4 2 2 0 0 1 0 4zm0 1a3 3 0 1 0 0-6 3 3 0 0 0 0 6z" />
                            </svg>
                            <li>Av. Falsa 123</li>
                        </div>
                        <div id="icono">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                class="bi bi-envelope" viewBox="0 0 16 16">
                                <path
                                    d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4Zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1H2Zm13 2.383-4.708 2.825L15 11.105V5.383Zm-.034 6.876-5.64-3.471L8 9.583l-1.326-.795-5.64 3.47A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.741ZM1 11.105l4.708-2.897L1 5.383v5.722Z" />
                            </svg>
                            <li>juanperez@mgial.com</li>
                        </div>
                    </ul>
                </div>

            </div>

            <div class="box">
                <h5>Tec Domotics</h5>
                <p>
                    Tec Domotics nace con el concepto de especialización, en el diseño de
                    soluciones integrales de audio, video, control y automatización del hogar.
                </p>
            </div>

            <div class="box">
                <h5>Enlaces</h5>
                <ul class="enlaces">
                    <li><a href="/index.html">Inicio</a></li>
                    <li><a href="/views/Nosotros/nosotros.html">Nosotros</a></li>
                    <li><a href="/views/Servicios/servicios.html">Servicios</a></li>
                    <li><a href="/views/Proyectos/proyectos.html">Proyectos</a></li>
                    <li><a href="/views/Contactanos/terminosycondiciones.html">Términos y Condiciones</a></li>
                </ul>
            </div>

            <div class="box">
                <h5>Nuestras redes Sociales</h5>
                <div class="red-social">
                    <a href="https://www.instagram.com/" target="_blank"><i class="bi bi-instagram"></i></a>
                    <a href="https://www.facebook.com/" target="_blank"><i class="bi bi-facebook"></i></a>
                    <a href="https://www.youtube.com/" target="_blank"><i class="bi bi-youtube"></i></a>
                </div>
            </div>
        </div>
        <br>
        <div class="grupo-2">
            <small>
                <p id="copyR">&copy; 2023 <b>Tec Domotics S.A.C.</b> Todos los derechos reservados.</p>
            </small>
            <div class="autor">
                <p>Diseño y desarrollo web por <b>Agustin Villalta.</b></p>
            </div>

        </div>

    </footer>
    <script src="/js/contactanos.js"></script>
    <!--Footer-->



</body>

</html>